.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

.env
.env.*
*.local

.idea/
.vscode/

node_modules/
dist/
build/

target/
*.log
.DS_Store

_recovery/

_recovery/
