# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Logs
*.log

# Node
node_modules/

# Build
dist/
build/
target/

# Env
.env
